

input {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 18px;
  max-width: 80px;
}

button {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 10px;
  font-size: 16px;
  border-radius: 18px;
  cursor: pointer;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:10px
}

body {
	background-color: white;
  /*
    blur the background image
  */
  backdrop-filter: blur(100px);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
  font-family: 'sans-serif';

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Hide the vertical scrollbar while allowing scrolling */
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.container-image {
  display: grid;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.container-image img {
  position: fixed;
  width: 80px;
  height: 80px;
  transform: scale(2);
  opacity: 1;
  border-radius: 0.2rem;
  /* bottom left */
}
.container-image img[data-pos="top-left"] {
  animation: fromTopLeft 15s infinite;
  top: -10%;
  left: -20%;
}
.container-image img[data-pos="top-middle-left"] {
  animation: fromTopLeft 15s infinite;
  top: -10%;
  left: 30%;
}
.container-image img[data-pos="top-middle-right"] {
  animation: fromTopRight 15s infinite;
  top: -10%;
  right: 30%;
}
.container-image img[data-pos="top-right"] {
  animation: fromTopRight 15s infinite;
  top: -10%;
  right: -20%;
}
.container-image img[data-pos="bottom-left"] {
  animation: fromBottomLeft 15s infinite;
  bottom: -10%;
  left: -20%;
}
.container-image img[data-pos="bottom-middle-left"] {
  animation: fromBottomLeft 15s infinite;
  bottom: -10%;
  left: 30%;
}
.container-image img[data-pos="bottom-middle-right"] {
  animation: fromBottomRight 15s infinite;
  bottom: -10%;
  right: 30%;
}
.container-image img[data-pos="bottom-right"] {
  animation: fromBottomRight 15s infinite;
  bottom: -10%;
  right: -20%;
}

@keyframes fromTopLeft {
  25% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(3);
  }
  50% {
    transform: translate(-50%, -50%) scale(2);
  }
  75% {
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    opacity: 0;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes fromTopRight {
  25% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(3);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  75% {
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    top: 45%;
    right: 50%;
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes fromBottomRight {
  25% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(3);
  }
  50% {
    transform: translate(-50%, -50%) scale(2);
  }
  75% {
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    bottom: 45%;
    right: 45%;
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes fromBottomLeft {
  25% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(3);
  }
  50% {
    transform: translate(-50%, -50%) scale(2);
  }
  75% {
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    bottom: 45%;
    left: 45%;
    transform: translate(-50%, -50%) scale(0);
  }
}
